<% provide(:title, t("admin.product.name")) %>
<% provide(:base_title, t("base.title")) %>

<div class="row text-center">
<%= link_to new_admin_product_path, class: "btn btn-primary" do %>
  <i class="fa fa-plus-square"></i> <%= t "admin.product.new" %>
<% end %>
<table id="orders" class="table table-hover">
  <thead>
    <tr>
      <th class="text-center"><%= t "product.id" %></th>
      <th class="text-center"><%= t "product.name1" %></th>
      <th class="text-center"><%= t "product.image" %></th>
      <th class="text-center"><%= t "product.information" %></th>
      <th class="text-center"><%= t "product.price" %></th>
      <th class="text-center"><%= t "product.quantity" %></th>
      <th class="text-center"><%= t "product.category" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="product_row">
    <%= render (@products) || t("product.list_nil") %>
  </tbody>
</table>
<div class="row" id="paginator">
  <%= paginate @products, theme: "twitter-bootstrap-3", remote: true %>
</div>
</div>
